<h2 class="h6 text-uppercase text-secondary">Company / Business Name</h2>
<p class="mb-4 text-break">{{ campaign.client.client_profile.company_name|default:"Not specified" }}</p>
<h2 class="h6 text-uppercase text-secondary">Product / Service Name</h2>
<p class="mb-4 text-break">{{ campaign.product_service_name|default:"Not specified" }}</p>
<h2 class="h6 text-uppercase text-secondary">Platforms</h2>
<p class="mb-4 text-break">{{ campaign.platforms|default:"Not specified" }}</p>
<h2 class="h6 text-uppercase text-secondary">Campaign Goal</h2>
<p class="mb-4 text-break">{{ campaign.campaign_goal|default:"Not specified"|linebreaksbr }}</p>
